body {font-family: raleway;
  background-color: black;
  color: white;
  margin-left: 5%;
  margin-right: 5%;}
a {color: yellow;}
a:visited {color: hsl(180, 100%, 50%);}
a:hover {color: hsl(95, 100%, 50%);
  text-shadow: 3px 3px 5px #efefef;}
section {float: left;
  max-width: 50%;}
figure {float: left;
  max-width: 30%;
  margin-top: 30px;}
img {float: left;
  max-width: 100%;}
nav a {display: block;
  line-height: 1.6em;
  bottom-border: 10px;}
article {overflow: auto;
  width: 100%;
  border-top: double;
  border-color: hsl(200 25% 30%);
  margin-top: 30px;}
h2:first-letter {font-family: tangerine;}
